<h2>Create Vanpool Route</h2>
<div class="form-group">
  <div class="col-xs-12">
                  <tr>
                    <td>Pickup:</td>
                    <td>database_pickup</td>
                  </tr>
                  <br>
                  <br>
                  <tr>
                    <td>Destination:</td>
                    <td>database_dropoff</td>
                  </tr>
  </div>