<div class="container">
    <div class="row">
        <div class="col-md-5 toppad pull-right col-md-offset-3 ">
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="form-group">
                <h2>Login</h2>
                <h4>
                    <label for="">Email</label>
                </h4>
                <h6 class="incorrect"></h6>
                <input class="email form-control" type="email" title="Email">
                <h4>
                    <label for="">Password</label>
                </h4>
                <input class="password form-control" type="password" title="Password">
                <a href="/createprofile">Create a new account</a>
                <br>
                <button class="login-btn btn-success btn">Login</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.login-btn').on("click", function (e) {
            e.preventDefault();
            //console.log($('.email').val());
            //console.log($('.password').val());
            var bodyData = {
                input_email: $('.email').val().trim(),
                input_password: $('.password').val().trim()
            }
            $.ajax("/login", {
                type: "POST",
                data: bodyData,
                async: false,
                success: function (data) {
                    console.log(data);
                    window.sessionStorage.setItem('current-user-ID', data.id);
                    window.location.href = "/profile/" + data.id;
                }
            });
        });
    });

</script>