{{!-- list of vanpools --}}
<script src="/js/group_script.js"></script>
<div class="container">
  <h2>Available Vanpools</h2>
  <h4>Select a group to see info.</h4>
  <div class="list-group">
    {{#each vanGroup}}
    {{> groups/listGroup}}
    {{/each}}
  </div>
</div>