<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
  <h2>Available Vanpools</h2>
  <div class="list-group">
    <a href="#" class="list-group-item">Thousand Oaks to Large Company 1</a>
    <a href="#" class="list-group-item">Thousand Oaks to Large Company 2</a>
    <a href="#" class="list-group-item">Thousand Oaks to Large Company 3</a>
  </div>

</div>