<div class="container">
    <input type="email" class="form-control" id="input_email">
    <input type="password" class="form-control" id="input_password">
    <input type="text" class="form-control" id="input_firstname">
    <input type="text" class="form-control" id="input_lastname">
    <input type="address" class="form-control" id="input_homeAddress">
    <input type="phonenumber" class="form-control" id="input_phoneNumber">
    <input type="text" class="form-control" id="input_about">
    <input type="text" class="form-control" id="input_prePickup">
    <input type="password" class="form-control" id="input_admin">
    <button id="user-submit-btn">Submit</button>
</div>