{{!-- routes list --}}
<div class="list-group-item">
    <a href="" class="" data-groupID="{{ vanGroup_ID }}" data-pickupPoint="{{ pickup_point }}">Van #{{ vanGroup_ID }}: {{ pickup_point }} to Large Company 1</a>
    <button class="join-group-btn" class="">Join</button>
</div>